@charset "utf-8";
@import "./var.scss";// 全局变量
@import "./mixin.scss";// 混合器


html {
  box-sizing: border-box;
}
// 所有元素的box-sizing继承border-box属性值
*, *:before, *:after {
  box-sizing: inherit;
}

/*浏览器默认样式reset*/
body {
  margin:0;
  padding:0;
  font-family: PingFangSC-Regular, sans-serif;
  font-size: 24px;
  color: #070707;
  background: #f5f5f9;
}
ul,li,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,table,thead,tbody,tr,td{
  padding:0;
  margin:0;
  list-style:none;
}
img{
  vertical-align:middle;
}
input,
button {
  border: none;
  outline: none;
  -webkit-appearance: none;
}
a,input,textarea,select,button{
  //去除外框
  outline: 0;
  //去除聚焦时的阴影
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
button[disabled]{
  color: #ddd;
  opacity: .65;
}

[v-cloak] {
  display: none;
}

/*通用样式*/

.ellipsis {
  /*单行溢出省略*/
  @include ellipsis()
}
.ellipsis_2 {
  /*两行溢出省略*/
  @include ellipsis(2)
}

// 浮动
.lf {
  float: left;
}
.rt {
  float: right;
}
.clearfix {
  @include clearfix()
}
/*title的左右横线*/
.horline {
  @include horline()
}

