// 混合器函数

// 清除浮动
@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &{
    zoom: 1;
  }
}

// 文本溢出省略...(默认第1行)
@mixin ellipsis($lines:1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

// title的左右横线
@mixin horline {
  position: relative;
  display: inline-block;
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: #070707;
    right: -40px;
    top: 50%;
  }
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: #070707;
    left: -40px;
    top: 50%;
  }
}

// 阴影
@mixin box-shadow(){
	box-shadow: 0 0 5px 1px rgba(57,137,255,0.1);
}